# Flutter/Dart
.dart_tool/
.packages
.pub/
build/

# Android
android/.gradle/
android/build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# MacOS/Linux/Windowshttps://github.com/mobile-senbox/senbox_camera_plugin/settings/access?guidance_task=
*.lockhttps://github.com/settings/tokens

# IDE
.idea/
.vscode/